@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
::-webkit-scrollbar-thumb {
  background-color: var(--colorido);
  border-radius: 6px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: var(--corFundo);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  font-style: normal;
  font-family: "DM sans";
  margin: 0;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  letter-spacing: 0.5px;
  resize: none;
  outline: none;
  border: 0;
  color: var(--corTexto);
  scroll-behavior: smooth;
}

:root {
  --corTexto: #e4e4e4;
  --corFundo: #111;
  --colorido: #afcaf3;
  --corCinza: #333;
  --corCinzaClaro: #575757;
  --corError: #c55e5e;
  --corSucesso: #5e8e76;
}

#root{ 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--corFundo);
}

button{ 
  border: 1px solid var(--corCinzaClaro);
  background-color: transparent;
  font-weight: 500;
  font-size: 1.65cqh;
  padding: 1cqh;
  border-radius: 7px;
  cursor: pointer;
  width: 100%;
}

button:hover{ 
  background-color: var(--corTexto);
  color: var(--corFundo);
}